<div class="row">
  <div class="small-4 small-offset-3 columns">
    <h4>Forgot your password?</h4>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :email, class: "right inline" %>
    </div>
    <div class="small-4 columns end"><%= f.email_field :email, autofocus: true, required: "required" %></div>
  </div>

  <div class="row">
    <div class="small-9 small-offset-3 columns"><%= f.submit "Send me reset password instructions", class: 'button small radius' %></div>
  </div>
<% end %>
