<div class="row">
  <div class="small-3 small-offset-3 columns">
    <h4>Log in</h4>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :email, class: "right inline" %>
    </div>
    <div class="small-4 columns end"><%= f.email_field :email, autofocus: true, required: "required" %></div>
  </div>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :password, class: "right inline" %>
    </div>
    <div class="small-4 columns end"><%= f.password_field :password, autocomplete: "off", required: "required" %></div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="row">
      <div class="small-9 small-offset-3 columns"><%= f.check_box :remember_me %>
        <%= f.label :remember_me %></div>
    </div>
    <br />
  <% end -%>

  <div class="row">
    <div class="small-9 small-offset-3 columns"><%= f.submit "Log in", class: 'button small radius' %></div>
  </div>

  <div class="row">
    <div class="small-9 small-offset-3 columns">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      <% end -%>
    </div>
  </div>

<% end %>
