<% title 'Review Listing'  %>
<h1>Review List</h1>

<%= will_paginate @reviews %>
<table role="grid">
  <tbody>

  <% @reviews.each do |review| %>
    <tr class="review_row">
      <td>
        <%= image_tag("#{review.image_url}", height: '100', width: '100') %>
      </td>
      <td>
        <div class="title">
          <%= review.display_title %>
        </div>

        <div class="headline">
          <span> Headline: </span>
          <%= review.headline.html_safe %>
        </div>

        <div class="summary">
          <div class="opening_date">
            <span> Opening Date: </span>
            <%= review.opening_date.present? ? review.opening_date.strftime('%d-%m-%Y') : '' %>
          </div>
          <span> Short Summary: </span>
          <%= review.summary_short.html_safe %>

          <div class="article">
            <span> <%= review.suggested_link_text.html_safe %>: </span>
            <%= link_to "#{review.suggested_link_text_url}", "#{review.suggested_link_text_url}", target: '_blank' %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @reviews %>